footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--light-color);
	padding: 8px;
	text-align: center;
	margin-top: auto;
	background-color: var(--footer-background-color); /* Add if needed */
}

.footer-column {
	flex: 1;
	padding: 0 10px;
}

.logo-column {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}

.logo-column img {
	height: 40px;
}

.logo-column p {
	font-size: var(--extra-small-font-size);
}

.logo-column p span {
	font-weight: var(--extra-bold-font-weight);
}

.nav-column {
	display: flex;
	flex-direction: column;
}

.nav-column-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	align-self: flex-start;
	align-self: center;
}

.nav-column h3 {
	margin: 0 0 5px 0;
}

.nav-column ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
	padding: 0;
}

.nav-column ul li {
	margin: 1px 0;
}

.nav-column ul li a {
	font-size: var(--extra-small-font-size);
	font-weight: var(--light-font-weight);
	text-decoration: none;
	color: var(--link-color);
	line-height: 0;
}

.contact-column {
	align-self: flex-start;
}

.contact-column h3 {
	margin: 0 0 5px 0;
}

.contact-column p {
	font-size: var(--small-font-size);
	font-weight: var(--light-font-weight);
	margin: 0;
	padding: 5px 0;
}

.social-media-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.social-media-column h3 {
	margin: 0 0 5px 0;
}

.social-media-column {
	display: flex;
	align-items: center;
	gap: 10px;
}

.social-media-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.social-media-column a {
	font-size: 24px;
	transition: all 0.3s ease;
}

.social-media-column a:hover {
	transform: scale(1.2);
	border-bottom: solid 1px var(--transparent-color);
}
